@model QuanLyThongTinDaoTao.Models.DiemDanh_HV
@{
    ViewBag.Title = "Điểm danh học viên";
    Layout = "~/Areas/Admin/Views/Shared/_MainAdminLayout.cshtml";
}


<div id="danhSachHocVien">
    @if (ViewBag.Students != null)
    {
        @Html.Partial("_DanhSachHocVienPartial", new
        {
            Students = ViewBag.Students,
            GroupedSessions = ViewBag.GroupedSessions
        })
    }
</div>
